/* a.) Different Types of Selectors */

/* Selector 1: Element Selector */
h1 {
    text-align: center;
}

/* Selector 2: Class Selector */
.wrapper h2 {
    font-style: italic;
}

/* Selector 3: ID Selector */
#fav-list {
    color: red;
}

/* Selector 4: Descendant Selector */
.wrapper p {
    font-size: 18px;
}

/* b.) Additional Class */
.wrapper p {
    color: initial;
}

/* c.) Styling Odd List Items */
ol li:nth-child(odd) {
    font-weight: bold;
}

/* d.) Styling div.wrapper */
.wrapper {
    background-color: rgba(146, 146, 28, 0.686);
    width: 80vw;
    margin: 0 auto;
}

/* e.) Setting Text Color */
body {
    color: #333;
    background-image: url('/photo-1686276701738-bdf4ecbc71b8.webp');
    background-repeat: no-repeat; /* in order to not to repeat images */
    background-position: center;
    background-size: cover;
}

img {
    width: 200px;
    filter: brightness(80%) grayscale(70%);
    max-width: 100%;
    height: auto;
    width: 300px;
}

.image-holder {
    display: flex;
    justify-content: center;
}

header {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

